* {
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boxes {
  text-align: center;
  background: #b0e0e6;
  padding: 20px;
  border: 1px solid darkturquoise;
}
.container {
  margin: 15px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'aside1 section1 section1 section1 aside2 aside2'
    'aside1 article1 article1 article1 aside2 aside2'
    'aside1 article2 article2 article2 aside2 aside2'
    'aside1 section2 section2 section2 aside2 aside2'
    'aside1 article3 article3 article3 aside2 aside2'
    'aside1 article4 article4 article4 aside2 aside2'
    'footer footer footer footer footer footer';
  grid-template-rows: repeat(5, 80px) minmax(100px, auto) repeat(5, 80px);
}

#header {
  grid-area: header;
}
#nav {
  grid-area: nav;
}
#aside1 {
  grid-area: aside1;
}
#aside2 {
  grid-area: aside2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  background-color: darkslategrey;
  grid-template-areas:
    'figure1 figure5'
    'figure2 figure6'
    'figure3 figure7'
    'figure4 figure8';
}
#section1 {
  grid-area: section1;
}
#section2 {
  grid-area: section2;
}
#article1 {
  grid-area: article1;
}
#article2 {
  grid-area: article2;
}
#article3 {
  grid-area: article3;
}
#article4 {
  grid-area: article4;
}
#footer {
  grid-area: footer;
}
#figure1 {
  grid-area: figure1;
}
#figure2 {
  grid-area: figure2;
}
#figure3 {
  grid-area: figure3;
}
#figure4 {
  grid-area: figure4;
}
#figure5 {
  grid-area: figure5;
}
#figure6 {
  grid-area: figure6;
}
#figure7 {
  grid-area: figure7;
}
#figure8 {
  grid-area: figure8;
}
/*********************************************/
@media screen and (max-width: 562px) {
  .container {
    margin: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'header header header header header header'
      'aside1 nav nav nav nav nav'
      'aside1 section1 section1 section1 section1 section1'
      'aside1 article1 article1 article1 article1 article1'
      'aside1 article2 article2 article2 article2 article2'
      'aside1 section2 section2 section2 section2 section2'
      'aside1 article3 article3 article3 article3 article3'
      'aside1 article4 article4 article4 article4 article4'
      'footer footer footer footer footer footer';
    /* grid-template-rows: repeat(5, 80px) minmax(150px, auto) repeat(5, 150px); */
  }
}
