* {
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container > div {
  text-align: center;
  background: #b0e0e6;
  padding: 20px;
}
.container > div:nth-child(odd) {
  background: #ffdead;
}

.container {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  /* grid-auto-rows: 100px; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: repeat(5, 200px); */
  grid-template-rows: repeat(2, minmax(100px, auto));
}
